src/main/resources/wsdl/MeterDataCollectionOut.svc.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="MeterDataCollectionOut" targetNamespace="http://enbw.com/esr/SAPPO/Netze/Messsysteme/MeterDataCollection" xmlns:p1="http://enbw.com/esr/SAPPO/Netze/Messsysteme/MeterDataCollection" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	<wsdl:documentation/>
	<wsdl:types>
		<xsd:schema targetNamespace="http://enbw.com/esr/SAPPO/Netze/Messsysteme/MeterDataCollection" xmlns="http://enbw.com/esr/SAPPO/Netze/Messsysteme/MeterDataCollection" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:p6="http://enbw.com/esr/SAPPO/Netze/Messsysteme/Common">
			<xsd:import namespace="http://enbw.com/esr/SAPPO/Netze/Messsysteme/Common"/>
			<xsd:element name="ForwardMeterData" type="ForwardMeterData"/>
			<xsd:complexType name="ForwardMeterData">
				<xsd:sequence>
					<xsd:element name="MessageHeader" type="p6:MessageHeader"/>
					<xsd:element name="SmgwId" type="p6:SmgwId">
						<xsd:annotation>
							<xsd:documentation>Unique ID of smart meter gateway (DIN 43863-5)</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="LogicalDeviceId" type="xsd:string" minOccurs="0"/>
					<xsd:element name="Measurement" maxOccurs="unbounded">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="OBIS" type="xsd:string" minOccurs="0"/>
								<xsd:element name="CapturePeriod" type="xsd:string" minOccurs="0"/>
								<xsd:element name="Entry" maxOccurs="unbounded">
									<xsd:complexType>
										<xsd:sequence>
											<xsd:element name="Timestamp" type="xsd:dateTime">
												<xsd:annotation>
													<xsd:documentation>Timestamp of measurement</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
											<xsd:element name="Value" type="xsd:string">
												<xsd:annotation>
													<xsd:documentation>Measurement value</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
											<xsd:element name="Scaler" type="xsd:integer" minOccurs="0"/>
											<xsd:element name="Unit" type="xsd:string" minOccurs="0">
												<xsd:annotation>
													<xsd:documentation>Meaurement unit</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
											<xsd:element name="Status" type="xsd:string" minOccurs="0">
												<xsd:annotation>
													<xsd:documentation>Measurement status</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
										</xsd:sequence>
									</xsd:complexType>
								</xsd:element>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="RawData" type="xsd:string" minOccurs="0"/>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
		<xsd:schema targetNamespace="http://enbw.com/esr/SAPPO/Netze/Messsysteme/Common" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://enbw.com/esr/SAPPO/Netze/Messsysteme/Common">
			<xsd:simpleType name="SmgwId">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:complexType name="MessageHeader">
				<xsd:sequence>
					<xsd:element name="MessageId" minOccurs="0" maxOccurs="unbounded">
						<xsd:complexType>
							<xsd:simpleContent>
								<xsd:extension base="xsd:string">
									<xsd:attribute name="systemName" type="xsd:string"/>
								</xsd:extension>
							</xsd:simpleContent>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="CorrelationId" type="xsd:string" minOccurs="0"/>
					<xsd:element name="TimeSent" type="xsd:dateTime"/>
					<xsd:element name="InstanceId" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>required for request messages; optional for response messages</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="TenantId" type="xsd:string"/>
					<xsd:element name="MeterOperatorId" type="xsd:string"/>
					<xsd:element name="ExternalMarketParticipantId" type="xsd:string" minOccurs="0"/>
					<xsd:element name="RoutingKeyServiceBus" type="xsd:string" minOccurs="0"/>
					<xsd:element name="RoutingKeyExtern" type="xsd:string" minOccurs="0"/>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="ForwardMeterData">
		<wsdl:documentation/>
		<wsdl:part name="ForwardMeterData" element="p1:ForwardMeterData"/>
	</wsdl:message>
	<wsdl:portType name="MeterDataCollectionOut">
		<wsdl:documentation/>
		<wsdl:operation name="ForwardMeterData">
			<wsdl:documentation/>
			<wsp:Policy>
				<wsp:PolicyReference URI="#OP_ForwardMeterData"/>
			</wsp:Policy>
			<wsdl:input message="p1:ForwardMeterData"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="MeterDataCollectionOutBinding" type="p1:MeterDataCollectionOut">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
		<wsdl:operation name="ForwardMeterData">
			<soap:operation soapAction="http://sap.com/xi/WebService/soap1.1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			<wsdl:input>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</wsdl:input>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="MeterDataCollectionOutService">
		<wsdl:port name="MeterDataCollectionOutPort" binding="p1:MeterDataCollectionOutBinding">
			<soap:address location="http://test-servicegateway.enbw.com/cb-emt-meterData/soap/v1/meterDataCollectionOut" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
		</wsdl:port>
	</wsdl:service>
	<wsp:UsingPolicy wsdl:required="true"/>
	<wsp:Policy wsu:Id="OP_ForwardMeterData"/>
</wsdl:definitions>